<!DOCTYPE html>
html(lang="en")

head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    title Mongo & Express Issue Tracker Issue Info
    link(rel="stylesheet" href="/styling/style.css")


body
    
    if issueData
       
        div
            p <strong>ID</strong>: #{issueData._id}
        div

            p <strong>TITLE</strong>: #{issueData.issue_title}
        
        div
            p <strong>AUTHOR</strong>:  #{issueData.created_by} <strong>ASSIGNEE</strong>: #{issueData.assigned_to}
        div
            p <strong>CREATED</strong>: #{issueData.created_on}
            p <strong>UPDATED</strong>: #{issueData.updated_on} 
        div
            if  issueData.open
                p <strong>STATUS</strong>: OPEN
            else
                p <strong>STATUS</strong>: Closed
        div
            p <strong>ISSUE DETAILS</strong>: 
            p  #{issueData.issue_text}
        div
            p <strong>STATUS DETAILS</strong>: 
            p #{issueData.status_text}         


    else
        p ID does not exist

    p  
        a(href="/") BACK TO HOME