<!DOCTYPE html>
html(lang="en")

head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    title Mongo & Express Book Library
    link(rel="stylesheet" href="/styling/style.css")


body
    div(class="title")
        h1 MongoDB, Mongoose, Express & Pug Book Library 
    
    div(class="project-details")
        h2 DETAILS
        li Shows existing books and the comments on books
    
    h2 TRY IT OUT
    div(class="try-it-out")        
        div(class="try-sec submit-book")
            form(id="submitBookForm" method="POST" action="/api/books/")
                h3 Submit Book
                div(class="input-area")
                    div(class="form-area form-area-one")
                        p
                            label(class="form-label" for="bookTitle") Book Title:   
                            input(name="bookTitle" placeholder="title" required)
                        p
                            label(class="form-label" for="bookAuthor") Book Author: 
                            input(name="bookAuthor" placeholder="author" required)                        

                    div(class="form-area form-area-two")
                        p
                            label(class="form-label" for="bookDetails") Book Details:
                        p
                            textarea(name="bookDetails" rows="5" cols="50" required)
                    
               
                div(class="submit-area")
                    input(class="submit-button" type="submit" value="Submit")
                

        div(class="try-sec update-book")
            form(id="commentBookForm" method="POST" onSubmit="urlCreatorPut()")
                h3 Comment on Book
                div(class="input-area")
                    div(class="form-area form-area-one")
                        p
                            label(class="form-label" for="bookId") Book ID: 
                            input(name="bookId" id="updateId" placeholder="book id" required) 
                        p
                            label(class="form-label" for="commentBy") Comment By: 
                            input(name="commentBy" placeholder="comment author" required)                          

                    div(class="form-area form-area-two")
                        p
                            label(class="form-label" for="commentText") Book Comment: 
                        p                        
                            textarea(name="commentText" rows="5" cols="50" required)
                
                div(class="submit-area")
                    input(class="submit-button" type="submit" value="Comment")
                

        div(class="try-sec delete-book")
            form(id="deleteBookForm" method="POST" onsubmit="urlCreatorDel()")
                h3 Delete Book
                div(class="input-area")
                    div(class="form-area form-area-one")
                        label(class="form-label" for="bookId") Book ID: 
                        input(name="bookId" id="deleteId" placeholder="book id" required)

                div(class="submit-area")
                    input(class="submit-button" type="submit" value="Delete")

            form(id="deleteAllBooks" method="POST" action="/api/books?_method=DELETE")
                h3 Delete All Books
                div(class="submit-area")
                    input(class="submit-button" type="submit" value="Delete All")

           
        
        div(class="try-sec get-book")
            form(id="getBookForm" method="GET" onsubmit="urlCreatorGet()")
                h3 Get Book
                div(class="input-area")
                    div(class="form-area form-area-one")
                        label(class="form-label" for="bookId") Book ID: 
                        input(name="bookId" id="getId" placeholder="book id" required)

                div(class="submit-area")
                    input(class="submit-button" type="submit" value="Get Book")
                
    
    div(class="book-database")
        h2 BOOK LIST (LATEST SHOWN FIRST)       
        
        each book, index in booksDocs
            div(class= 'book-box')
                div
                    p <strong>BOOK ID</strong>: #{booksDocs[index]._id}

                div
                    p <strong>TITLE</strong>: #{booksDocs[index].book_title}
                
                div
                    p <strong>AUTHOR</strong>:  #{booksDocs[index].book_author} 

                div
                    p <strong>DETAILS</strong>: #{booksDocs[index].book_details}
                    -  var postDate = booksDocs[index].created_on

                    p <strong>POST DATE</strong>: #{postDate.getFullYear()+ "-" +(postDate.getMonth()+1) + "-" + postDate.getDate()} 
               
                div
                    p <strong>COMMENTS</strong>: #{booksDocs[index].book_comments.length}
               
                div                
                    form(class="book-list-button" method="GET" action= '/api/books/'+ booksDocs[index]._id)
                        input(name="bookId" type="hidden" value=booksDocs[index]._id )
                        input(class="submit-button" type="submit" value="See Comments")
                div
                    form(class="book-list-button" method="POST" action= '/api/books/'+ booksDocs[index]._id +'?_method=DELETE')
                        input(name="bookId" type="hidden" value=booksDocs[index]._id )
                        input(class="submit-button" type="submit" value="Delete")
 
script(src="/js/form.js")

