<!DOCTYPE html>
html(lang="en")

head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    title Mongo & Express Issue Tracker
    link(rel="stylesheet" href="styling/style.css")


body
    div(class="title")
        h1 MongoDB, Mongoose, Express & Pug Issue Tracker
    
    div(class="project-details")
        h2 DETAILS
        li Shows existing issues and the status
    
    h2 TRY IT OUT
    div(class="try-it-out")        
        div(class="try-sec submit-issue")
            form(id="submitIssueForm" method="POST" action="/api/issues/" target="_blank" rel="noopener noreferrer" )
                h3 Submit Issue
                div(class="input-area")
                    div(class="form-area form-area-one")
                        p
                            label(class="form-label" for="issueTitle") Title:   
                            input(name="issueTitle" placeholder="title" required)
                        p
                            label(class="form-label" for="createdBy") Issue Author: 
                            input(name="createdBy" placeholder="author" required)

                    div(class="form-area form-area-two")
                        p
                            label(class="form-label" for="issueText") Issue Details: 
                        p
                            textarea(name="issueText" rows="5" cols="50" required)
                    
                    div(class="form-area-three")
                        p
                            label(class="form-label" for="assignedTo") Assigned To: 
                            input(name="assignedTo" placeholder="assignee(optional)")
                        p
                            label(class="form-label" for="statusText") Status Text: 
                            input(name="statusText" placeholder="status text(optional)")
               
                div(class="submit-area")
                    input(class="submit-button" type="submit" value="Submit")
                

        div(class="try-sec update-issue")
            form(id="updateIssueForm" method="POST" onSubmit="urlCreatorPut()" target="_blank" rel="noopener noreferrer")
                h3 Update Issue
                div(class="input-area")
                    div(class="form-area form-area-one")
                        p
                            label(class="form-label" for="issueId") ID: 
                            input(name="issueId" id="updateId" placeholder="issue id" required)
                        p
                            label(class="form-label" for="issueTitle") Title: 
                            input(name="issueTitle" placeholder="title(optional)")
                        p
                            label(class="form-label" for="createdBy") Issue Author: 
                            input(name="createdBy" placeholder="author(optional)")

                    div(class="form-area form-area-two")
                        p
                            label(class="form-label" for="issueText") Issue Details: 
                        p                        
                            textarea(name="issueText" rows="5" cols="50")
                    
                    div(class="form-area-three")
                        p
                            label(class="form-label" for="assignedTo") Assigned To: 
                            input(name="assignedTo" placeholder="assignee(optional)")
                        p
                            label(class="form-label" for="statusText") Status Text: 
                            input(name="statusText" placeholder="status text(optional)")
                
                    div(class="form-area-four")
                        input(type="radio" name="changeStatus" value="false")
                        label(class="form-label" for="false") Tick to close issue                        
                        input(type="radio" name="changeStatus" value="true")
                        label( class="form-label" for="true") Tick to open issue                        

                
                div(class="submit-area")
                    input(class="submit-button" type="submit" value="Update")
                

        div(class="try-sec delete-issue")
            form(id="deleteIssueForm" method="POST" onsubmit="urlCreatorDel()" target="_blank" rel="noopener noreferrer")
                h3 Delete Issue
                div(class="input-area")
                    div(class="form-area form-area-one")
                        label(class="form-label" for="issueId") ID: 
                        input(name="issueId" id="deleteId" placeholder="issue id" required)

                div(class="submit-area")
                    input(class="submit-button" type="submit" value="Delete")
           
        
        div(class="try-sec get-issue")
            form(id="getIssueForm" method="GET" onsubmit="urlCreatorGet()" target="_blank" rel="noopener noreferrer" )
                h3 Get Issue
                div(class="input-area")
                    div(class="form-area form-area-one")
                        label(class="form-label" for="issueId") ID: 
                        input(name="issueId" id="getId" placeholder="issue id" required)

                div(class="submit-area")
                    input(class="submit-button" type="submit" value="Get Issue")
                
    
    div(class="issue-database")
        h2 ISSUE LIST       
        
        each issue, index in issuesDocs
            div(class= 'issue-box')
                div
                    p <strong>ID</strong>: #{issuesDocs[index]._id}
                div

                    p <strong>TITLE</strong>: #{issuesDocs[index].issue_title}
                
                div
                    p <strong>AUTHOR</strong>:  #{issuesDocs[index].created_by} <strong>ASSIGNEE</strong>: #{issuesDocs[index].assigned}
                div
                    p <strong>CREATED</strong>: #{issuesDocs[index].created_on} 
                    p <strong>UPDATED</strong>: #{issuesDocs[index].updated_on} 
                div
                    if  issuesDocs[index].open
                        p <strong>STATUS</strong>: OPEN
                    else
                        p <strong>STATUS</strong>: Closed
                div
                    p <strong>STATUS DETAILS</strong>: #{issuesDocs[index].status_text} 
                div
                    p <strong>ISSUE DETAILS</strong>: 
                    p #{issuesDocs[index].issue_text}

                div
                    p
                        a(class="issue-options" href="") CLOSE ISSUE?
                    p
                        a(class="issue-options" href="") DELETE ISSUE?
 
script(src="/js/form.js")

