<!DOCTYPE html>
html(lang="en")

head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    title Mongo & Express NASDAQ Checker
    link(rel="stylesheet" href="/styling/style.css")


body
    div(class="title")
        h1 MongoDB, Mongoose, Express & Pug NASDAQ Stock Checker
    
    div(class="project-details")
        h2 DETAILS
        li Returns the stock price and the likes of a NASDAQ Stocks
    
    h2 TRY IT OUT
    div(class="try-it-out")        
        div(class="try-sec submit-stock")
            form(id="submitStockForm" method="GET" action="/api/stock-prices")
                h3 Request Stock Price
                div(class="input-area")
                    div(class="form-area form-area-one")
                        p
                            label(class="form-label" for="stock") NASDAQ Stock Symbol: 
                            input(name="stock" id="updateSymbolOne" placeholder="stock symbol" required)                       

                    div(class="form-area form-area-two")
                        input(type="checkbox" name="like" value="true")
                        label(class="form-label" for="like") Like stock       
                    
               
                div(class="submit-area")
                    input(class="submit-button" type="submit" value="Request")
                

        div(class="try-sec update-stock")
            form(id="commentBookForm" method="GET" action="/api/stock-prices")
                h3 Request Stocks and Compare the Relative Likes 
                div(class="input-area")
                    div(class="form-area form-area-one")
                        p
                            label(class="form-label" for="stock") NASDAQ Stock Symbol: 
                            input(name="stock" id="updateSymbolTwo" placeholder="stock symbol 1" required) 
                                                

                    div(class="form-area form-area-two")
                         p
                            label(class="form-label" for="stock") NASDAQ Stock Symbol: 
                            input(name="stock" id="updateSymbolThree" placeholder="stock symbol 2" required) 
                    
                    div(class="form-area form-area-two")
                        input(type="checkbox" name="like" value="true")
                        label(class="form-label" for="like") Like both stock                
                                
                div(class="submit-area")
                    input(class="submit-button" type="submit" value="Request")
                

        div(class="try-sec delete-book")
            form(id="deleteStockForm" method="POST" onsubmit="urlCreatorDel()")
                h3 Delete Stock Info
                div(class="input-area")
                    div(class="form-area form-area-one")
                        label(class="form-label" for="bookId") NASDAQ Stock Symbol: 
                        input(name="bookId" id="deleteId" placeholder="stock symbol" required)

                div(class="submit-area")
                    input(class="submit-button" type="submit" value="Delete")

            form(id="deleteAllBooks" method="POST" action="/api/books?_method=DELETE")
                h3 Delete All Stocks Info
                div(class="submit-area")
                    input(class="submit-button" type="submit" value="Delete All")          
               
                
    
    //- div(class="book-database")
    //-     h2 STOCK LIST (MOST LIKED SHOWN)       
        
    //-     each book, index in booksDocs
    //-         div(class= 'book-box')
    //-             div
    //-                 p <strong>BOOK ID</strong>: #{booksDocs[index]._id}

    //-             div
    //-                 p <strong>TITLE</strong>: #{booksDocs[index].book_title}
                
    //-             div
    //-                 p <strong>AUTHOR</strong>:  #{booksDocs[index].book_author} 

    //-             div
    //-                 p <strong>DETAILS</strong>: #{booksDocs[index].book_details}
    //-                 -  var postDate = booksDocs[index].created_on

    //-                 p <strong>POST DATE</strong>: #{postDate.getFullYear()+ "-" +(postDate.getMonth()+1) + "-" + postDate.getDate()} 
               
    //-             div
    //-                 p <strong>COMMENTS</strong>: #{booksDocs[index].book_comments.length}
               
    //-             div                
    //-                 form(class="book-list-button" method="GET" action= '/api/books/'+ booksDocs[index]._id)
    //-                     input(name="bookId" type="hidden" value=booksDocs[index]._id )
    //-                     input(class="submit-button" type="submit" value="See Comments")
    //-             div
    //-                 form(class="book-list-button" method="POST" action= '/api/books/'+ booksDocs[index]._id +'?_method=DELETE')
    //-                     input(name="bookId" type="hidden" value=booksDocs[index]._id )
    //-                     input(class="submit-button" type="submit" value="Delete")
 
script(src="/js/form.js")

